<div data-role="content">
		
	
		<script>


		$(function () {
    var d = [[-373597200000, 1000], [-370918800000, 1200], [-368326800000, 1220], [-363056400000, 800], [-360378000000, 780], [-357699600000, 700]]; 

    $.plot($("#placeholder"), [d], { colors: ["#f1375e","#7bd234", "#afb0af"], xaxis: { mode: "time" } });

    $("#whole").click(function () {
        $.plot($("#placeholder"), [d], { colors: ["#f1375e","#7bd234", "#afb0af"], xaxis: { mode: "time" } });
    });

    $("#nineties").click(function () {
        $.plot($("#placeholder"), [d], {
            xaxis: {
                mode: "time",
                min: (new Date(1990, 1, 1)).getTime(),
                max: (new Date(2000, 1, 1)).getTime()
            }
        });
    });

    $("#ninetynine").click(function () {
        $.plot($("#placeholder"), [d], {
            xaxis: {
                mode: "time",
                minTickSize: [1, "month"],
                min: (new Date(1999, 1, 1)).getTime(),
                max: (new Date(2000, 1, 1)).getTime()
            }
        });
    });
});

	

		</script>
	
	<div id="placeholder" style="width:300px;height:200px;"></div>
		<br />
		<br />
	</div>
