<div data-role="content">
<script>

$(function () {

    <% logs = @player.player_logs.sort_by{|l| l.created_at}.reverse %>
    var d = 
    [
    <% logs.each_with_index do |log, index| %>
	[<%= log.created_at.to_i * 1000%>, <%= log.score %>]
	<% if(index != (logs.length-1)) %>, <% end%>
    <% end %>
    ];

    $.plot($("#placeholder"), [d], { colors: ["#f1375e","#7bd234", "#afb0af"], xaxis: { mode: "time" } });

    $("#whole").click(function () {
        $.plot($("#placeholder"), [d], { colors: ["#f1375e","#7bd234", "#afb0af"], xaxis: { mode: "time" } });
    });

});
</script>
	
<div id="placeholder" style="width:300px;height:200px;"></div>
	<br />
	<br />
</div>
