<div data-role="content">
<script>

$(function () {

		<%
			all_rankings = @player.player_logs.sort_by{|l| l.created_at}.reverse
			one_per_day = []
			
			previous_day = nil
			all_rankings.each_with_index do |r,index|
			
				if(!previous_day.nil? && r.created_at.day != previous_day.created_at.day)
					one_per_day.push(previous_day)
				end
				
				if(index == (all_rankings.length-1))
					one_per_day.push(r)
				end
			
				previous_day = r
			end
		%>

    var d = 
    [
    <% one_per_day.each_with_index do |log, index| %>
	[<%= log.created_at.to_i * 1000%>, <%= log.score %>]
	<% if(index != (one_per_day.length-1)) %>, <% end%>
    <% end %>
    ];

     $.plot($("#placeholder"), [d], { colors: ["#3E94F7"], xaxis: { mode: "time" },
		  grid: {
		      color: '#000',      // => primary color used for outline and labels
		      backgroundColor: '#fff', // => null for transparent, else color
		      tickColor: '#DDDDDD',  // => color used for the ticks
		      labelMargin: 3,        // => margin in pixels
		      verticalLines: true,   // => whether to show gridlines in vertical direction
		      horizontalLines: true, // => whether to show gridlines in horizontal direction
		      outlineWidth: 0        // => width of the grid outline/border in pixels
		    } ,
		    lines: { show: true },
		          points: { show: true }
    
    });
    


});
</script>
	
<div id="placeholder" style="width:300px;height:200px;"></div>
	<br />
	<br />
</div>
