<% content_for :body_full do %>

	<script language="javascript" type="text/javascript" src="/ui/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/ui/flot/jquery.flot.pie.js"></script>
  <script language="javascript" type="text/javascript" src="/ui/flot/jquery.flot.resize.js"></script>

<div data-role="page" id="page-ranking">
		  <div data-role="header" data-theme="a">
			 <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Back</a> 
			<h1><%= @player.username %> - Ranking</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
		  </div>

		<%= render :partial => "/players/player_menu", :locals => { :active_menu => 'ranking-over-time' } %>
		<%= render 'historic_ranking' %>
</div>



<% end %>



